

    

<div>
<h1 class="text-danger">{{name}}</h1>
<h2>Points: {{points}}</h2>
<h2>Rebounds: {{rebounds}}</h2>
<h2>Assists: {{assists}}</h2>

<a href="/roster" class="btn btn-danger">&larr; Back</a>




